<%= partial "partials/_documentation_search" %>
<div class="toc-block-container">
  
  <div class="toc-block">
    <h3 class="docs-section-heading"><%= t("navigation.basics.title") %></h3>
    <ul>
      <li class="doc-item">
        <%= active_link_to  t("navigation.basics.git"), "#{locale_prefix}/basics/git/"%> 
	  </li>
      <li class="doc-item">
        <%= active_link_to t("navigation.basics.directory_structure"), "#{locale_prefix}/basics/directory-structure/" %>
      </li>
	  <li class="doc-item">
		<%= active_link_to t("navigation.basics.environment_variables"), "#{locale_prefix}/basics/environment-variables/" %>
	  </li>
      <li class="doc-item">
        <%= active_link_to t("navigation.basics.build_deploy"), "#{locale_prefix}/basics/build-and-deploy/" %>
        </li>

    </ul>
  </div>

  
  
</div>
